<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ SITE_DESCRIPTION }}">
    <title>{{ SITE_TITLE }}</title>
    <link rel="icon" type="image/x-icon" href="{{ FAVICON_URL }}">
    <link rel="stylesheet" href="style.css">
    {{ HEAD_EXTRA }}
</head>

<body>
    <header class="header container">
        <div class="site-branding">
            <a href="index.html" class="site-title">{{ LOGO_AREA }}</a>
        </div>
        <nav class="nav-bar">
            {{ NAV_BAR_LINKS }}
        </nav>
    </header>

    <main class="content container">
        {{ CONTENT }}
    </main>

    <footer class="footer container">
        <hr>
        <div class="footer-links">
            {{ SOCIAL_LINKS }}
        </div>
        <div class="footer-copy">
            <p>&copy; {{ COPYRIGHT_YEAR }} {{ AUTHOR_NAME }}</p>
            <p>&copy; OSMAN</p>
        </div>
    </footer>
</body>
</html>
