Output/*
Output/
!Output/readme.txt
Old_Files/
Content/Texts/*
!Content/Texts/ExamplePost.md
!Content/Texts/ShowcaseFeatures.md
*.class
ErrorLogs/*
ErrorLogs/
makeJarFile.bat
Potato.java
compile.ps1
compile.sh
