@font-face {
	font-family: Cezeri;
	src: url(Omer-Sphere.woff);
}

body {
	background: linear-gradient(rgba(var(--arka), 0.98), rgba(var(--arka), 0.98));
	font-family: sans-serif;
	margin: 0 auto;
    padding: 0;
}

Amain {
	padding-top: 1rem;
	display: block;
	flex-wrap: wrap;
	justify-content: center;
	gap: .5rem;
	text-align: center;
}

main {
	padding-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: .5rem;
}

Aheader {
	color: var(--beyaz);
	text-align: center;
	margin-bottom:50px;
	margin:50px;
}

header {
	color: var(--beyaz);
	text-align: center;
}

headerMain{color: var(--beyaz); text-align: center;margin-bottom:50px;margin:50px;}

.son-guncelleme-paneli {
	position: fixed;
	top: 0;
	left: 0;
	height: 43px;
	padding-top: 7px;
	line-height: 20px;
	width: 10%;
	background: var(--nav);
	text-align: center;
	color: #ffff;
	font-family: Cezeri;
	font-size: 12px;
}

.son-guncelleme-paneli a {
	color: #ffff;
	text-decoration: none;
}

a:link{text-decoration: none;color: var(--h1renk);}
a:visited{text-decoration: none;color: var(--h1renk);}
a:hover{text-decoration: none;color: var(--h1renk);}
a:active{text-decoration: none;color: var(--h1renk);}

h1 {
	color: var(--h1renk);
	font-size: 2rem;
	font-style: italic;
	font-weight: bold;
	margin: 10;
}

h2 {
	color: var(--h2renk);
	font-size: 1.5rem;
	font-family: var(--h2font);
	font-style: italic;
	font-weight: bold;
	display: block;
	padding: 10px;
	margin: 0;
	hyphens: auto;
	word-wrap: break-word;
}

h3 {
	color: var(--h3renk);
	font-size: 1rem;
	font-family: var(--h3font);
	font-weight: 500;
	margin: 12px;
}

h4 {
	color: var(--h4renk);
	font-size: 1.5rem;
	font-weight: lighter;
	margin: .1rem;
}

h5 {
	color: var(--h5renk);
	font-size: 2rem;
	font-style: italic;
	font-weight: bold;
	margin: 10;
}

h6 {
	color: var(--h1renk);
	font-size: 3vw;
	font-style: italic;
	font-weight: bold;
	margin: 10px;
}

h7 {
	color: var(--h5renk);
	font-size: 2.5vw;
	font-style: italic;
	font-weight: bold;
	margin: 10px;
}

h8 {
	color: var(--h8renk);
	text-shadow: 0px 0px 7px var(--h8golge);
	font-size: 1.5vw;
	font-family: Monospace;
	font-style: italic;
	font-weight: bold;
	display: block;
	padding:10px;
	margin: 0;
}

p {
	color: var(--prenk);
	font-size: 1.3rem;
	font-family: var(--pfont);
	margin: 10px;
}

.story-content p {
	font-family: var(--pefont);
	line-height: 1.7;
	margin-bottom: 1em;
}

po {
	color: var(--prenk);
	font-size:1rem;
	margin:10px;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	height: auto;
}

#baslik{width: 10000px;}

.topnav {
    display: flow-root;
	position: relative;
    z-index: 99;
	background-color: var(--nav);
}

.topnav a {
	float: right;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	color: var(--tan);
}
.topnav input {
	float: right;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	color: var(--tan);
}

.topnav .icon {
	display: none;
}

#themeSwitcher:hover {
	cursor: pointer;
}

.dropdown {
	float: right;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 17px;
	border: none;
	outline: none;
	color: var(--tan);
	padding: 0px 0px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--nav);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.dropdown-content a {
	float: none;
	color: var(--tan);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a.nav-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 16px;
}

.nav-img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--tan);
}

.topnav a:hover,
.dropdown:hover .dropbtn .dropdown-content a:hover .search-dropdown a:hover{
	background-color: var(--sec);
	color: var(--tan);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.active {
	background-color: var(--active);
}

.search-container {
    position: relative;
    float: right;
    display: inline-block;
	height: 100%;
	align-items: center;
}

.search-container input{
	float: right;
	overflow: hidden;
	font-size: 17px;
	border: none;
	outline: none;
    padding: 14px 10px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	width: 6rem;
    caret-color: var(--active);
    color: var(--tan);
}

.search-container input::placeholder { color: var(--tan); }
.search-container input:focus::placeholder { color: transparent; }

.search-dropdown {
	display: none;
	position: absolute;
	background-color: var(--nav);
	width: 100%;
	min-width: 10rem;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
	top: 100%;
}

.search-dropdown a {
	float: none;
	color: var(--tan);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.overlay { position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0, 0, 0, 1);transition: opacity 500ms;visibility: hidden;opacity: 0;z-index: 1000;}
.overlay:target {visibility: visible;opacity: 1;}
.son-guncelleme-paneli{z-index:10000;}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: var(--nav);
	border-radius: 5px;
	width: 30%;
	position: relative;
}

.popup h2 {
	margin-top: 0;
	color: var(--h2renk);
	font-family: Tahoma, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	padding:0;
	padding-bottom:10px;
	padding-top:5px;
}

.popup h3 {
	color: var(--h1renk);
	font-style: normal;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: var(--h3renk);
}

.popup .close:hover {
	filter: brightness(3);
}

.popup .content {
	max-height: 30%;
	overflow: auto;
	color: var(--tan);
}

:root {
	--arka: 17, 17, 17;
	--beyaz: #e7e7e7;
	--siyah: #000000;
	--tan: #D2B48C;
	--nav: #000000;
	--active: #714424;
	--sec: #4d4239;
	--prenk: #d6d0ce;
	--perenk: #d6d0ce;
	--h1renk: #d1d1d1;
	--h2renk: #d1d1d1;
	--h2golge: #303030;
	--h3renk: #d7ccc8;
	--h4renk: #ffffff;
	--h5renk: #d1d1d1;
	--h8renk: #ffffff;
	--h8golge: #121111;
	--h2font: Monospace;
	--h3font: Cezeri;
	--pfont: Cezeri;
	--pefont: sans-serif;
	--ustrenk: #231100;
	--dusmanustrenk: #520000;
	--digerustrenk: #492300;
	--altrenk: #633200;
	--dusmanaltrenk: #630000;
	--digeraltrenk: #301800;
	--hikayearka: #231100;
	--cerceve: #987554;
	--dusmancerceve: #985454;
	--digercerceve: #987554;
	--yanpanel: 17, 17, 17;
	--yanyazi: 0, 0, 0;
}

[data-color="dark"] {
	--arka: 17, 17, 17;
	--beyaz: #e7e7e7;
	--siyah: #000000;
	--tan: #d2b48c;
	--nav: #000000;
	--active: #714424;
	--sec: #4d4239;
	--prenk: #d6d0ce;
	--perenk: #d6d0ce;
	--h1renk: #d1d1d1;
	--h2renk: #d1d1d1;
	--h2golge: #303030;
	--h3renk: #d7ccc8;
	--h4renk: #ffffff;
	--h5renk: #d1d1d1;
	--h8renk: #ffffff;
	--h8golge: #121111;
	--ustrenk: #231100;
	--dusmanustrenk: #520000;
	--digerustrenk: #492300;
	--altrenk: #633200;
	--dusmanaltrenk: #630000;
	--digeraltrenk: #301800;
	--hikayearka: #231100;
	--cerceve: #987554;
	--dusmancerceve: #985454;
	--digercerceve: #987554;
	--yanpanel: 17, 17, 17;
	--yanyazi: 0, 0, 0;
}

[data-color="light"] {
	--arka: 230, 230, 230;
	--beyaz: #211f1f;
	--siyah: #ffffff;
	--tan: #473d2e;
	--nav: #d2b48c;
	--active: #997359;
	--sec: #d1bfb0;
	--prenk: #303030;
	--perenk: #242221;
	--h1renk: #303030;
	--h2renk: #303030;
	--h2golge: #303030;
	--h3renk: #383432;
	--h4renk: #000000;
	--h5renk: #303030;
	--h8renk: #000000;
	--h8golge: #ffffff;
	--ustrenk: #d9d8d7;
	--dusmanustrenk: #cfa1a1;
	--digerustrenk: #a5a5a4;
	--altrenk: #b0a69d;
	--dusmanaltrenk: #b0a69d;
	--digeraltrenk: #b0a69d;
	--hikayearka: #d9d8d7;
	--cerceve: #be9269;
	--dusmancerceve: #be6969;
	--digercerceve: #a18b84;
	--yanpanel: 230, 230, 230;
	--yanyazi: 255, 255, 255;
}

[data-color="fancy"] {
	--arka: 40, 40, 40;
	--beyaz: #fbf1c7;
	--siyah: #fbf1c7;
	--tan: #ebdbb2;
	--nav: #1d2021;
	--active: #282828;
	--sec: #83a598;
	--prenk: #fbf1c7;
	--perenk: #fbf1c7;
	--h1renk: #fbf1c7;
	--h2renk: #d5c4a1;
	--h2golge: #303030;
	--h3renk: #383432;
	--h4renk: #d5c4a1;
	--h5renk: #d5c4a1;
	--h8renk: #f7e3ba;
	--h8golge: #121111;
	--ustrenk: #282828;
	--dusmanustrenk: #752020;
	--digerustrenk: #4e4e4e;
	--altrenk: #a29991;
	--dusmanaltrenk: #a29991;
	--digeraltrenk: #a29991;
	--hikayearka: #282828;
	--cerceve: #a89984;
	--dusmancerceve: #985454;
	--digercerceve: #a89984;
	--yanpanel: #191d1f;
	--yanyazi: #131618;
}

.anakutu {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.taban {
	max-width: 102ch;
	padding: 0.8rem;
	border: none;
	background: transparent;
	will-change: transform;
	box-sizing: border-box;
	}

.yanbolum {
	margin: 10px;
	padding: 10px 0;
	background: linear-gradient(rgba(var(--arka), 0.92), rgba(var(--arka), 0.92));
}

.yanpanel {
	background: var(--yanpanel);
	max-width: 18rem;
	color: var(--beyaz);
	padding: 10px;
	border-radius: 10px;
	font-size: 2rem;
	text-align: center;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.yanpanel span {
	display: block;
	padding: 10px;
}

.yanresimalt {
	position: relative;
	border: 2px solid;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.yanresimalt img{
  display: block;
}

.resimbuton{
  position: absolute;
  right: 0;
  bottom: 44px;
  transform: none;
  display: inline-block;
}

.resimbuton .bn{
  padding: 1px 10px;
  font-size: 15px;
  background-color: transparent;
  color: #000000;
  border-top-left-radius: 5px;
  border: 0;
  cursor: pointer;
}

.resimbuton .bn:hover{
	filter: brightness(0.9);
}

.yanyazi {
	background: var(--yanyazi);
	color: var(--beyaz);
	padding: 20px 10px;
	border-radius: 10px;
	font-size: 2rem;
	text-align: center;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

kotuler{padding-top: 1rem;display: flex;flex-wrap: wrap;justify-content: center;gap: .5rem;text-align: center;}
ekip{padding-top: 1rem;display: flex;flex-wrap: wrap;justify-content: center;gap: .5rem;text-align: center;}
yancilar{padding-top: 1rem;display: flex;flex-wrap: wrap;justify-content: center;gap: .5rem;text-align: center;}
poster{padding-top: 1rem;display: flex;flex-wrap: wrap;justify-content: center;gap: .5rem;text-align: center;}

.characters{width:20rem;height:15rem;transition:transform .23s;padding:10px;margin:25px;border:1px solid var(--cerceve);border-radius:.2rem;border-bottom: none;text-align:center;display:flex;justify-content:space-around;will-change:transform}
.dusmanlar{border:1px solid var(--dusmancerceve);}
.digerleri{border:1px solid var(--digercerceve);}
.characters:hover{transform:scale(1.1)}
.characters:hover .taban {transform: translate(0px, -18px)}
.characters:hover .alttaban {visibility: visible}

.posterler{width:33.5rem;height:5rem;transition:transform .23s;padding:10px;margin:25px;border-radius:.2rem;border-bottom: none;text-align:center;display:flex;justify-content:space-around;will-change:transform}

.twigology{background-image:linear-gradient(rgba(41, 31, 16,.2) 10%,rgba(29, 59, 130,.2) 100%);background-size:cover;background-repeat: no-repeat;background-position:50%}

.characterimage{background-size:cover;background-position:50%}

.characters .isimlik{width:337px;height:4rem;border:3px solid var(--cerceve);border-radius:.1rem;background: var(--ustrenk);text-align:center;position: absolute;bottom: 0;will-change:transform}
.characters .dusmanisimlik{border:3px solid var(--dusmancerceve);background: var(--dusmanustrenk);}
.characters .digerisimlik{border:3px solid var(--digercerceve);background: var(--digerustrenk);}
.characters .alttaban{width:337px;height:3rem;transition:transform .23s;border:3px solid var(--cerceve);border-radius:.1rem;margin:-2rem;background: var(--altrenk);visibility: hidden;position: absolute;bottom: 0;will-change:transform}
.characters .dusmanalttaban{border:3px solid var(--dusmancerceve);background: var(--dusmanaltrenk);}
.characters .digeralttaban{border:3px solid var(--digercerceve);background: var(--digeraltrenk);}


footer {
	text-align: center;
	margin: 0 auto;
	display: grid;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer p{
	font-size: 1rem;
}

.line-2 {
	border-top: 1px solid var(--siyah);
}

@media screen and (max-width: 600px) {
	.son-guncelleme-paneli {
		left: 40vw;
		width: 20%;
		font-size: 10px;
	}
	.anakutu {
		flex-wrap: nowrap;
	}
	.yanyazi h2 {
		font-size: 0.7rem;
		overflow: auto;
	}
	.yanyazi p{
		font-size: 0.6rem;
	}
	.taban {
		max-width: 15rem;
		border: none;
		padding: 2px;
	}
	.yanpanel {
		max-width: 7rem;
	}
	.yanpanel span {
		font-size: 0.7rem;
	}
	.resimbuton{
	  bottom: 33px;
	}
	.resimbuton .bn{
	  padding: 1px 3px;
	  font-size: 10px;
	}
	.aciklama {
		font-size: 0.8rem;
	}
	h1{font-size: 4vw;}
	h2{font-size: 3vw;}
	h3{font-size: 1rem;}
	h4{font-size: 3.5vw;}
	h5{font-size: 4vw;}
	h6{font-size: 10vw;	margin: 0;}
	h7{font-size: 6vw;}
	h8{font-size: 4vw;}
	.taban p{font-size: 2.5vw;}
	.notification-top-bar { left: 40vw; width: 20%; font-size: 9px;}
	.posterler{width:11.5rem;height:1rem;}
	.topnav a{float:left;}
	.topnav a:not(:first-child), .dropdown .dropbtn, .search-container {display: none;}
	.topnav a.icon {float: right;display: block;}
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {position:absolute;right:0;top:0;}
	.topnav.responsive a {float:none;display:block;text-align:left;}
	.topnav.responsive .dropdown {float: none;}
	.topnav.responsive .dropdown-content {position: relative;}
	.topnav.responsive .dropdown .dropbtn {display:block;width:100%;text-align:left;}
	.topnav.responsive .search-container {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        padding: 0;
        margin: 0;
        position: relative;
    }
    .topnav.responsive .search-container input {
        width: 100%;
        margin: 0;
        display: block;
        padding-left: 16px;
		padding-top: 9px;
		padding-bottom: 24px;
        box-sizing: border-box;
		text-align: left;
    }
	.popup{width: 70%;}
}
